<div class="container">
   
  <form [formGroup]="searchForm"  (ngSubmit)="onSubmit()">

       <label for="source_destination">Enter Source Destination</label>
       <input type ="text" id="source_destination" name="source_destination" list="datalist" formControlName="source_destination">
       <datalist id="datalist">
         <option *ngFor ="let c of citylist" [value]="c">{{c}}</option>
       </datalist>
       <!-- <select id="source_destination" name="source_destination" formControlName="source_destination">
           <option *ngFor ="let c of citylist" [value]="c">{{c}}</option>
        </select>  -->
        <!-- <input type="text" name="source_destination" placeholder="Enter source location" formControlName="source_destination">
         
        <input type="text" name="target_destination" placeholder="Enter target location" formControlName="target_destination"> -->
      <label for="target_destination">Enter Target Destination</label>
      <input type ="text" id="target_destination" name="target_destination" list="datalist" formControlName="target_destination">
       <datalist id="datalist">
         <option *ngFor ="let c of citylist" [value]="c">{{c}}</option>
       </datalist>
      <!-- <select id="target_destination" name="target_destination" formControlName="target_destination">
          <option *ngFor ="let c of citylist" [value]="c">{{c}}</option> 
      </select>  -->
      <br>

      <label for="travel_date">Enter your travel date</label>
      <input type="date" name="travel_date" placeholder="travel date" formControlName="travel_date"/>
      <br>
    
      <label for="Travellers">Select the  number of passengers</label>
      <input type="number" id="Travellers" name="Travellers" placeholder="Travellers" formControlName="travellers"/>
      <br>
     
      <select id="flight_class" name="flight_class" formControlName="flight_class" >
        <option *ngFor ="let cl of classlist" [value]="cl">{{cl}}</option>
      </select> 
      <br>
     <p> 
       <input type="submit" value="Search"> 
     </p>
    
  </form>
</div>




