<p>ticketpdf works!</p>

<div id="divid" class="container">
     <div id="top-bar">
    <!-- <p>This is your ticket. </p> -->
    <div id="logo-ticketmatic">
    <img src="/assets/images/logo.png">
    </div>
    </div>
    <div>
        ticket works inside pdf
        <!-- {{ticket.flight_name}}
        <br>
        {{ticket.source_destination}}
        <br>
        {{ticket.target_destination}}
        <br>
        {{ticket.passenger_name}}
        <br>
        {{ticket.seat_no}}
        <br>
        {{ticket.arrival_time}}
        <br>
        {{ticket.departure_time}}
        <br> -->
    </div> 
 ticket to pdf
 <button (click)="download()">Download pdf</button>
</div>

